/* src/components/ActivityReport.css */
.activity-report {
    padding: 40px;
    text-align: center;
    background-color: #F5F5F5;
    animation: fadeIn 1.5s ease-out;
  }
  
  .report-title {
    color: #004D40;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .button-grid {
    animation: fadeIn 2s ease-out;
  }
  
  .function-button {
    background-color: #3F51B5;
    color: #B2DFDB;
    font-size: 1em;
    padding: 15px;
    border-radius: 12px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 180px; /* Adjust height to accommodate text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    animation: fadeInCard 1s ease forwards;
  }
  
  @keyframes fadeInCard {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .function-button:hover {
    background-color: #004D40;
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  }
  
  .function-button span {
    font-weight: bold;
    margin-top: 8px;
    font-size: 1.1em;
    color: #B2DFDB;
  }
  
  .function-button p {
    font-size: 0.9em;
    margin-top: 5px;
    color: #E0F2F1;
  }
  
  .function-button svg {
    font-size: 2.5em;
    color: #B2DFDB;
    transition: transform 0.3s, color 0.3s;
  }
  
  .function-button:hover svg {
    transform: rotate(20deg);
    color: #FDD835;
  }
  